@{
    ViewBag.Title = "New User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Docs nav ================================================== -->
<div class="page-header">
    <h4>New User</h4>
</div>
<div class="row">
    <div class="span12">
        @if (ViewBag.message != null)
        { 
            @Html.Partial("_OperaMessage", new {ViewBag.message})   
        }
        <form action="~/User/Create" method="post">
            <table class="table" border="0" cellspacing="1" cellpadding="0">
                <tfoot>
                    <tr>
                        <td style="width:200px;">&nbsp;</td>
                        <td>
                            <input class="btn btn-primary" name="submit" type="submit" value="Save">
                            &nbsp;
                            <input class="btn btn" type="button" onclick="javascript: history.go(-1)" value="Back">

                        </td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td class="tdleft">Account&nbsp;<span style="color: red; font-weight:bold;">*</span></td>
                        <td>
                            <input type="text" name="USER_CD" value="">
                        </td>
                    </tr>
                    <tr>
                        <td class="tdleft">Password&nbsp;<span style="color: red; font-weight:bold;">*</span></td>
                        <td>
                            <input type="password" name="PASSWORD"   value="">
                        </td>
                    </tr>
                    <tr>
                        <td class="tdleft">Repeat Password&nbsp;<span style="color: red; font-weight:bold;">*</span></td>
                        <td>
                            <input type="password" name="PASSWORD_RE"   value="">
                        </td>
                    </tr>
                    <tr>
                        <td class="tdleft">User Name&nbsp;<span style="color: red; font-weight:bold;">*</span></td>
                        <td>
                            <input type="text" name="LAST_NAME"   value="">
                        </td>
                    </tr>
                    <tr>
                        <td class="tdleft">Email</td>
                        <td>
                            <input type="text" name="EMAIL"   value="">
                        </td>
                    </tr>
                    <tr>
                        <td class="tdleft">Phone</td>
                        <td>
                            <input type="text" name="MOBILE_NUM"   value="">
                        </td>
                    </tr>
                    <tr>
                        <td class="tdleft">Comment</td>
                        <td>
                            <textarea name="DESCRIPTION" id="DESCRIPTION" style="width: 400px; height: 100px;"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdleft">Role&nbsp;<span style="color: red; font-weight:bold;">*</span></td>
                        <td>
                            @foreach (JSYCRM.Models.z_role item in ViewBag.role_list)
                            { 
                                <input name="ROLE" type="checkbox" value="@(item.ID)" /> @(item.NAME) <text>&nbsp; &nbsp;</text>                            
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
