@{
    ViewBag.Title = "Decotal Tile Simulator Print";
    Layout = null;
}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <img src="data:image/png;base64,@ViewData["picture"]" />
    <script type="text/javascript">
        window.print();
    </script>
</body>
</html>


