<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Data Source=127.0.0.1;Initial Catalog=adNotification;Persist Security Info=True;User ID=sa;Password=!qaz2wsx3edc"/>
  </appSettings>
  <system.web>
    <customErrors mode="RemoteOnly" defaultRedirect="~/Home/Error"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880"/>
    </authentication>
  </system.web>
</configuration>