@model IEnumerable<JSYCRM.Models.m_announcement>
@{
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}

<div class="row">
    <div class="span8">
        <h4>
            <img src="~/Images/index_notice.png" style="width: 17.5px;" /> System Announcement</h4>
        <div class="hero-unit">
        </div>
    </div>
    <div class="span4">
        <div style="border-left: 1px solid #eee;">
            <form action="~/Account/Login" method="post" class="form-signin">
                <fieldset>
                    <legend>
                        <h3>Login</h3>
                    </legend>
                    @{
                        if (ViewBag.errorMessage != null)
                        {
                        <div class="alert alert-error">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>@ViewBag.errorMessage
                        </div> 
                        }    
                    }
                    User Name:&nbsp;<input type="text" name="name" value="" class="text-input" placeholder="User Name" /><br />
                    Password: &nbsp;&nbsp;&nbsp;<input type="password" name="password" value="" class="text-input" placeholder="Password" /><br />
                    Verification Code:<input type="text" name="valicode" value="" class="text-input" style="width: 60px;" />
                    <img id="valiCodeImg" style="cursor: pointer;" src="~/Account/GetValidateCode" alt="Verification Code" /><br />
                    <label class="checkbox">
                        <input type="checkbox" name="rememberMe" />Remember</label>

                    <input name="submit" class="btn btn-primary" type="submit" value="Login" />
                </fieldset>
            </form>
        </div>
    </div>
</div>

<div id="dialog-message" class="hide" title="Announcement">loading...</div>
<script type="text/javascript">
    $('#dialog-message').dialog({
        autoOpen: false,
        modal: true,
        width: 600,
        maxHeight: 400,
        position: ["center", 100]
    });

    $("#valiCodeImg").bind("click", function () {
        this.src = "/Account/GetValidateCode?time=" + (new Date()).getTime();
    });

    function show(id) {
        $('#dialog-message').dialog('open');
        content = $("#content" + id).html();
        $('#dialog-message').html(content);
    }
</script>
