@{
    ViewBag.Title = "Logout Succeed";
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}

<style type="text/css">
    .container
    {
        width: 400px;
    }
</style>
<legend>
    <h3>Logout Succeed!</h3>
</legend>
<div class="alert alert-success">Logout Succeed!</div>
<p class="jump">Automatic <a id="href" href="/">return to the previous page</a> time:<b id="wait">3</b></p>
<script type="text/javascript">
    (function () {
        var wait = document.getElementById('wait'), href = document.getElementById('href').href;
        var interval = setInterval(function () {
            var time = --wait.innerHTML;
            if (time == 0) {
                location.href = href;
                clearInterval(interval);
            };
        }, 1000);
    })();
</script>

