@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}

<style type="text/css">
    .container
    {
        width: 400px;
    }
</style>
<legend>
    <h3>Error!</h3>
</legend>
<div class="alert alert-error">System error occurred during the operation!</div>
<div class="row-fluid wukong">
    <div class="span3">
        <img src="~/Images/logo_big.png" alt="Shanghai Qian Xun information technology Co., Ltd." />
    </div>
    <div class="span9">
        <p>Shanghai Qian Xun information technology Co., Ltd.</p>
        <a href="http://www.qian-xun.com/" target="_blank">Contact Us</a></small></p>
    </div>
</div>