@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}

<style type="text/css">
    .container
    {
        width: 400px;
    }
</style>
<legend>
    <h3>Error!</h3>
</legend>
<div class="alert alert-error">System error occurred during the operation!</div>