@{
    ViewBag.Title = "No Permission";
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}

<style type="text/css">
    .container
    {
        width: 400px;
    }
</style>
<legend>
    <h3>Operation failed!</h3>
</legend>
<div class="alert alert-error">You do not have permission to access this page!</div>
<p class="jump">Automatic <a id="href" href="javascript: history.go(-1)">return to the previous page</a> time:<b id="wait">3</b></p>
<script type="text/javascript">
    (function () {
        var wait = document.getElementById('wait'), href = document.getElementById('href').href;
        var interval = setInterval(function () {
            var time = --wait.innerHTML;
            if (time == 0) {
                history.go(-1)
                clearInterval(interval);
            };
        }, 1000);
    })();
</script>
