@model JSYCRM.Models.z_parameter

@{
    ViewBag.Title = "Edit Parameter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Docs nav ================================================== -->
<div class="page-header">
    <h4>Edit Parameter</h4>
</div>
<div class="row">
    <div class="span12">
        @if (ViewBag.message != null)
        { 
            @Html.Partial("_OperaMessage", new {ViewBag.message})   
        }  
        <form action="~/Parameter/Edit?Type=@(ViewBag.Type)&ID=@Model.ID"" method="post">
            <table class="table" border="0" cellspacing="1" cellpadding="0">
                <tfoot>
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <input class="btn btn-primary" name="submit" type="submit" value="Save">
                            &nbsp;
                            <input class="btn btn" type="button" onclick="javascript: history.go(-1)" value="Back"></td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td class="tdleft">Value&nbsp;<span style="color: red; font-weight:bold;">*</span></td>
                        <td>
                            <input type="text" name="VALUE" class="span4" value="@Model.VALUE">(10个字符以内)
                        </td>
                    </tr>
                    <tr>
                        <td class="tdleft">Description</td>
                        <td>
                            <textarea name="DESCRIPTION" id="DESCRIPTION" style="width: 400px; height: 100px;">@Model.DESCRIPTION</textarea>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>