@{
    ViewBag.Title = "新建公告";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript" src="~/Scripts/kindeditor-all-min.js"></script>
<script type="text/javascript" src="~/Scripts/zh_CN.js"></script>
<script type="text/javascript" src="~/Scripts/jscolor/jscolor.js"></script>
<link rel="stylesheet" href="~/Styles/kindeditor.css" type="text/css" />
<script type="text/javascript">var editor;
    KindEditor.ready(function (K) {
        editor = K.create('textarea[name="content"]', {
            uploadJson: '/Home/Upload',
            allowFileManager: true,
            loadStyleMode: false
        });
    });</script>

<!-- Docs nav ================================================== -->
<div class="page-header">
    <h4>新建公告</h4>
</div>
<div class="row">
    <div class="span12">
        @if (ViewBag.message != null)
        { 
            @Html.Partial("_OperaMessage", new { ViewBag.message })   
        }
        <form action="~/Announcement/Create" method="post">
            <table class="table" border="0" cellspacing="1" cellpadding="0">
                <thead>
                    <tr>
                        <td colspan="2">
                            <input name="submit" class="btn btn-primary" type="submit" value="保存" />
                            &nbsp;<input class="btn" type="button" onclick="javascript: history.go(-1)" value="返回" /></td>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td colspan="2">
                            <input class="btn btn-primary" name="submit" type="submit" value="保存" />
                            &nbsp;
                            <input class="btn btn" type="button" onclick="    javascript: history.go(-1)" value="返回" /></td>
                    </tr>
                </tfoot>
                <tbody>
                    <th colspan="2">基本信息</th>
                    <tr>
                        <td class="tdleft">标题&nbsp;<span style="color: red; font-weight:bold;">*</span></td>
                        <td>
                            <input type="text" name="title" class="span4" value="" />(100个字符以内)</td>
                    </tr>
                    <tr>
                        <td class="tdleft">标题颜色&nbsp;<span style="color: red; font-weight:bold;">*</span></td>
                        <td>
                            <input class="color" value="000000" name="color" /></td>
                    </tr>
                    <tr>
                        <td class="tdleft">是否发布&nbsp;<span style="color: red; font-weight:bold;">*</span></td>
                        <td>
                            <input type="radio" value="发布中" checked name="status" />是 &nbsp;
								<input type="radio" value="已停用" name="status" />否</td>
                    </tr>
                    <tr>
                        <td class="tdleft">是否在登录界面显示&nbsp;<span style="color: red; font-weight:bold;">*</span></td>
                        <td>
                            <input type="radio" value="显示"  name="isshow" />是 &nbsp;
								<input type="radio" value="不显示" checked name="isshow" />否</td>
                    </tr>
                    <tr>
                        <td class="tdleft">内容&nbsp;<span style="color: red; font-weight:bold;">*</span></td>
                        <td>
                            <textarea name="content" id="content" style="width: 1000px; height: 350px;"></textarea></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
