@{
    ViewBag.Title = "New Message";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript" src="~/Scripts/kindeditor-all-min.js"></script>
<script type="text/javascript" src="~/Scripts/en.js"></script>
<script type="text/javascript" src="~/Scripts/jscolor/jscolor.js"></script>
<link rel="stylesheet" href="~/Styles/kindeditor.css" type="text/css" />
<script type="text/javascript">
    var editor;
    KindEditor.ready(function (K) {
        editor = K.create('textarea[name="content"]', {
            uploadJson: '/Home/Upload',
            allowFileManager: true,
            loadStyleMode: false
        });
    });   
</script>

<!-- Docs nav ================================================== -->
<div class="page-header">
    <h4>New Message</h4>
</div>
<div class="row">
    <div class="span12">
        @if (ViewBag.message != null)
        { 
            @Html.Partial("_OperaMessage", new { ViewBag.message })   
        }
        <form action="~/Announcement/Create" method="post">
            <table class="table" border="0" cellspacing="1" cellpadding="0">
                <tfoot>
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <input class="btn btn-primary" name="submit" type="submit" value="Save" />
                            &nbsp;
                            <input class="btn btn" type="button" onclick="javascript: history.go(-1)" value="Back" /></td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td class="tdleft">Title&nbsp;<span style="color: red; font-weight:bold;">*</span></td>
                        <td>
                            <input type="text" id="title" name="title" class="span4" value="" />(100 characters or less)</td>
                    </tr>
                    <tr>
                        <td class="tdleft">To&nbsp;<span style="color: red; font-weight:bold;">*</span></td>
                        <td>
                            <div id="btnAddUserList"><ul class='nav nav-list' style="cursor:default;"></ul></div>
                            <input type="text" name="to" id="to" style="display:none;"/>
                            <input class="btn btn" id="btnAddUser" type="button" value="Add" />
                        </td>
                    </tr>
                    <tr>
                        <td class="tdleft">Content&nbsp;<span style="color: red; font-weight:bold;">*</span></td>
                        <td>
                            <textarea name="content" id="content" style="width: 1000px; height: 350px;"></textarea>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>

<div id="dialog" style="display:none;" title="Choose User/Group">
    <div>
        name
        <input type="text" id="filterTitle" name="title" class="span4" value="" />
        <input class="btn btn" id="btnFilterUser" type="button" value="Search" />
    </div>
    <div id="userFilterList" style="overflow-y: auto; height: 380px; padding: 5px; ">
    </div>
</div>

<script type="text/javascript" src="~/Scripts/userPicker.js"></script>